Source: ros-hydro-ros-web-video
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 7.0.50~), git-core, libbz2-dev, ros-hydro-catkin, ros-hydro-image-transport, ros-hydro-mk, ros-hydro-roscpp, ros-hydro-rostime, ros-hydro-sensor-msgs, yasm, zlib1g-dev
Homepage: http://wiki.ros.org/ros_web_video
Standards-Version: 3.9.2

Package: ros-hydro-ros-web-video
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbz2-dev, ros-hydro-image-transport, ros-hydro-mk, ros-hydro-roscpp, ros-hydro-rostime, ros-hydro-sensor-msgs, zlib1g-dev
Description: Streaming of ROS Image Topics via HTTP
